
    .dataPlatform{
        text-align: center;
        h6{
            font-size:20px;
            margin-bottom:20px;
        }
        span{
            font-size:20px;
            padding:3px 12px;
            border:2px solid #d9d9d9;
            display:inline-block;
            margin-left:6px;
            margin-right:6px;
            box-shadow: 5px 1px 3px #dad4d4;
        }
    }