
.dataPlatform{
    text-align: center;
    h6{
        font-size:20px;
        margin-bottom:20px;
    }
    span{
        font-size:20px;
        padding:3px 12px;
        border:2px solid #d9d9d9;
        display:inline-block;
        margin-left:6px;
        margin-right:6px;
        box-shadow: 5px 1px 3px #dad4d4;
    }

    .email-container{
        margin-top: 38px;
        background: #f6f7fa;
        padding-top: 60px;

        p{
            font-size: 24px;
            color: #000;
        }

        .input-container{
            margin-top: 38px;
            margin-bottom: 50px;

            .email-input{
                width: 320px;
                height: 40px;
                border: 1px solid #e8e8e9;
                padding-left: 20px;
                border-radius: 0;
                vertical-align: top;
            }

            .email-btn{
                height: 40px;
                box-shadow: none;
                border: 0;
                background: #1a5bfb;
                color: #ffffff;

                span{
                    box-shadow: none;
                    border: 0;
                }
            }
        }

        .div-bg{
            width: 100%;
            height: 229px;
            background: url(./image/bg.png) no-repeat center;
        }
    }
}