body{
    background:#f6f7fa;
}

.title{
    padding-left:10px;
    line-height:38px;
    height:38px;
    border:1px solid #d9d9d9;
    background:#f7f7f7;
}

.wrap{
    border-top:0px;
    background:#fff;
    overflow: auto;
}