.login-container{
    width: 100%;
    height: 740px;
    background: url(./images/login-bg.jpg) no-repeat center;
    background-size:100% 100%;
    padding-top: 120px;

    .login-div{
        width: 360px;
        margin: 0 auto;
        text-align: center;

        .login-title{
            font-size: 20px;
            color: #ffffff;
            margin-bottom: 22px;
        }

        .email-div{
            height: 50px;
            margin-bottom: 22px;

            .email-input{
                height: 100%;
                font-size: 14px;
            }
        }

        .password-div{
            height: 50px;
            margin-bottom: 20px;
            position: relative;
            .password-input{
                height: 100%;
                font-size: 14px;
                padding-right: 100px;
            }

            .forgetPw-txt{
                position: absolute;
                top: 0;
                right: 0;
                padding: 0 10px;
                line-height: 50px;
                font-size: 14px;
                color: #b2b2b2;
                cursor: pointer;
            }
        }

        .login-code{  
            display: flex;
            width: auto;
            input[type="text"]{
                width:auto;
                height:50px;
                margin-right:20px;
                flex:1;
                &+span {
                    padding-top: 11px;
                }
            }

        }
        .checkbox{
            font-size: 12px;
            color: #ffffff;
        }

        .bnLogin{
            width: 200px;
            height: 46px;
            border-radius: 46px;
            background: #1e75fb;
            border: 1px solid #56d8ef;
            font-size: 16px;
            color: #ffffff;
            margin: 16px 0;
        }

        .login-tip{
            font-size: 12px;
            color: #ffffff;

            a{
                color: #6ffffb;
                text-decoration: underline;
            }
        }
    }
}