.selectItem{
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 10px;

    .selectItem-title{
        font-size: 12px;
        color: #666666;
    }

    .select{
        width: 120px;
        margin-top: 2px;
    }

    .btn-add{
        cursor: pointer;
        margin-left: 5px;
    }
}

.selectItem:last-child{
    margin-right: 0;
}

