/*body{
    width: 1280px;
    margin: 0 auto;
}*/

.title{
    padding-left:10px;
    line-height:38px;
    height:38px;
    border:1px solid #d9d9d9;
    background:#f7f7f7;
}

.wrap{
    border-top:0px;
    background:#fff;
    overflow: auto;
}
.wapper {
    width: 1280px;
    margin: 0 auto;
}
.sider{
    flex: 0 0 280px !important;
    width: 280px  !important;
}
.ant-menu-root.ant-menu-inline{
    background:#e2e6ef;
    height:100%;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: none;
    color:#000;
}
.ant-menu-item > a{
    color:#999999;
}