body{
    min-width:1280px;
    min-height:100%;
    overflow-y:scroll;
}

.title{
    padding-left:10px;
    line-height:38px;
    height:38px;
    border:1px solid #d9d9d9;
    background:#f7f7f7;
}
.ant-layout{
    background:#fff;
}

.siderSearchMenu{
    background:#f5f9fe;
    flex: 0 0 280px !important;
    width: 280px  !important;
}

.oBg{
    .ant-table-tbody > tr > td{
        color:#666;
    }
    height:100%;
    .wrap{
        border-top:0px;
        overflow: auto;
    }
    .wapper {
        width: 1280px;
        margin: 0 auto;
    }
    .ant-layout{
        background:#f6f7fa;
        overflow:hidden;
    }
    .sider{
        flex: 0 0 280px !important;
        width: 280px  !important;
    }
    .ant-menu-root.ant-menu-inline{
        background:#e2e6ef;
        height:100%;
    }
    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
        background-color: #f5f9fe;
    }
    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected a,.ant-menu-item > a:hover{
        color:#000;
    }
    .ant-menu-item > a, .ant-menu-inline .ant-menu-submenu-title{
        color:#999999;
        font-size:14px;
    }
    .oBg .ant-menu-inline>.ant-menu-submenu-title{
        color:#030000 ;
    }
    .ant-menu-sub.ant-menu-inline{
        background:#f5f9fe;
    }
    .ant-menu-inline .ant-menu-item:after, .ant-menu-vertical .ant-menu-item:after{
        border:0px;
    }
}
.oBg2 .wapper {
    width:1280px;
    margin:0 auto;
}

.oBg2{
    height:100%;
    .ant-layout{
        background:#f6f7fa;
    }
}