
.stepThree{
    border:1px solid #e2e0e0;
    .search{
        height:40px;
        line-height:40px;
        background:#e2e0e0;
        .ant-input-wrapper{
            width:200px;
            margin-left:6px;
            padding-top:6px;
        }
    }
    .searchInput{
        width:200px;
    }
    li{
       border-bottom: 1px dotted #e2e0e0;
       display:flex;
       min-height:80px;
       max-height:200px;
       overflow: hidden;
       padding-right:10px;
       align-items: center;
       position: relative;
       >span{
           padding:0px 10px;
       }
       >span:nth-child(2){
            border-left: 1px dotted #e2e0e0;
            height:100%;
       }
       .seeEffect{
           margin-top:8px;
           position: absolute;
           top: 0px;
       }
    }
    em ,i,h3,h6{
        font-style:normal;
        display:block;
        font-weight:normal;
    }
    .content i{
        height:40px;
        line-height:40px;
        border:1px solid #108ee9;
        text-align:center;
        margin-top:8px;
        margin-bottom:8px;
    }
    .sendOut >*{
        margin-bottom:8px;
    }
    .flex1{
        flex:1;
    }
    
    .h80{
        height:80px;
        line-height:80px;
    }
}