.favoriteItem-mask{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 999;

    .favoriteItem-container{
        width: 1280px;
        height: 100%;
        margin: 0 auto;
        position: relative;

        .bnClose{
            position: absolute;
            width: 93px;
            height: 93px;
            background: url(../../../static/images/bn-close.png) no-repeat center;
            right: 0;
            box-shadow: none;
            border: 0;
            cursor: pointer;
        }

        .bnClose:active{
            opacity: 0.5;
        }

        .bnClose:focus {
            outline: none !important;
        }

        .favoriteItem-div{
            width: 480px;
            background: #fff;
            border-radius: 10px;
            position: absolute;
            top: calc(~"50% - 250px");
            left: calc(~"50% - 240px");
            padding: 24px;


            .favoriteItem-title{
                font-size: 18px;
                color: #000000;
                text-align: center;
                margin-bottom: 12px;
            }

            .favoriteItem-item{
                margin-top: 16px;

                .title-div{
                    width: 80px;
                    font-size: 14px;
                    color: #666666;
                    display: inline-block;
                    vertical-align: top;
                }

                .content-div{
                    width: calc(~"100% - 80px");
                    color: #000000;
                    font-size: 14px;
                    display: inline-block;
                }

                .title-div-1{
                    font-size: 14px;
                    color: #666666;
                }

                .favoriteItem-list{
                    width: 100%;
                    max-height: 200px;
                    border: 1px solid #cbcbcb;
                    overflow: auto;

                    .list-item{
                        height: 40px;
                        border-bottom: 1px solid #cbcbcb;

                        div{
                            padding: 0 10px;
                            width: 50%;
                            height: 100%;
                            line-height: 40px;
                            display: inline-block;
                            font-size: 14px;
                            color: #000000;
                        }

                        div:nth-child(1){
                            border-right: 1px solid #cbcbcb;
                        }
                    }

                    .list-item:last-child{
                        border-bottom: 0;
                    }

                    .list-item:nth-child(2n){
                        background: #ecf3fc;
                    }
                }
            }

            .btn-div{
                margin-top: 24px;
                text-align: center;

                button{
                    width: 128px;
                    height: 38px;
                    background: #1a5bfb;
                    color: #fff;

                    span{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}