.copyrights-div{
    width: 100%;
    padding: 50px 0;
    text-align: right;

    .copyrights-align{
        display: inline-block;
        margin-right: 12%;
    }

    .text-div{
        display: inline-block;
        text-align: right;
        font-size: 10px;
        color: #4c4c4c;
        margin-right: 20px;
    }

    canvas{
        vertical-align: bottom;
    }
}