.ant-table-wrapper .ant-pagination {
    display:none;
}
.ant-pagination {
    text-align:center;
    margin-top:18px;
}
.content-wrapper{
    margin-top:20px;
    margin-left:20px;
    h6{
        font-size:20px;
        font-weight:normal;
        color:#666;
        padding-bottom:10px;
        padding-top:4px;
        margin-bottom:18px;
        border:0px;
        border-bottom:2px solid #8a8a8b;
        height:auto;
    }
    .oButton,.oButton:hover{
        background:#f3f6fb;
        border:2px solid #dfe5ef;
        border-radius:6px;
        width:130px;
        height:32px;
        line-height:29px;
        text-align:center;
        margin-right: 18px;
        margin-bottom:16px;
        margin-top:6px;
        color:#666;
    }
    .white-bg{
        background:#fff;
        border:3px solid #e2e6ef;
        padding:18px;
    }
    .ant-table-thead > tr > th{
        background:#fff;
        border-bottom:1px solid #e4e8f0;
        span{
            font-weight:bolder;
        }
    }
    .ant-pagination-item{
        border:0px;
    }
    .ant-pagination-item-active{
        background:#fff;
        a{
            color:#6692fc;
        }
    }
    .sbutton{
        background:#eaecf1;
        &:nth-child(2){
        margin-left:8px;
        }
    }
    .ant-table-tbody > tr:hover{
        background:#ecf3fc;
    }
    .icons{
        padding-left:16px;
    }
    .icon1{
        background:url('../images/icon_1.png') no-repeat 0px center ;
    }
    .icon2{
        background:url('../images/icon_2.png') no-repeat  0px center;
    }
    .icon3{
        background:url('../images/icon_3.png') no-repeat 0px center ;
    }
    .yulan{
        display:block;
        width:50px;
        height:30px;
    }
    .btn-icon{
        position:relative;
        top:4px;
        right:4px;
    }
    .w200{
        max-width:200px;
        padding-right:10px;
        white-space:nowrap; 
        overflow:hidden; 
        text-overflow:ellipsis;
    }
}